<body>
<h1> <%= @what %> in <%= @location %></h1>

<section class='container' style='padding-top: 2em;'>
	<center><iframe
  	width="800"
  	height="600"
  	frameborder="0" style="border:0"
  	src="<%= @dogos %>">
</iframe></center>
</section>
</body>