<body>
<h1> Random Location </h1>
	<section class='container'>
    	<center><iframe
      		width="800"
      		height="400"
      		src="<%= @fun_map %>"/>
    	</iframe></center>
  	</section>
</body>