<h1> Coffee for You in <%= @hood %></h1>

<section class='container' style='padding-top: 2em;'>
	<center><iframe
  	width="800"
  	height="600"
  	frameborder="0" style="border:0"
  	src="<%= @coffee %>">
</iframe></center>
</section>